body{
    background: #d5c7d2;
    font-family: 'Akaya Telivigala', cursive;
}
.header_div{
    background: #ead1a8;
    color: white;
}
.header_div p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.main_div button{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    width: 130px;
}
h4{
    font-size: 25px;
}
